################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloWorld/HelloWorld/obj/Debug
/HelloWorld/HelloWorld/bin/Debug
/HelloWorld/.vs/HelloWorld/v15
/.vs
